.button {
  transition: 200ms;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-left: 1px solid var(--color-gray-800);
    border-top: 1px solid var(--color-gray-800);
    border-right: none;
    border-bottom: none;
    transition: 200ms;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-right: 1px solid var(--color-gray-800);
    border-bottom: 1px solid var(--color-gray-800);
    border-top: none;
    border-left: none;
    transition: 200ms;
  }

  &[data-is-selected="true"],
  &[data-is-selected="true"]:hover {
    &::before {
      border-width: 3px;
      border-color: var(--color-white-500);
    }
    &::after {
      border-width: 3px;
      border-color: var(--color-white-500);
    }
  }

  &:hover {
    transform: scale(1.1);

    &::before {
      border-width: 3px;
      border-color: var(--color-gray-600);
    }
    &::after {
      border-width: 3px;
      border-color: var(--color-gray-600);
    }
  }
}
